* {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 19px;
}
table {
    border-spacing: 0;
    border-collapse: collapse;
    width: 300px;
    height: 200px;
}
td, th, caption {
    border: 2px solid #070707;
}
caption {
    border-bottom: none;
    font-weight: 900;
}
.weekend {
    color: red;
}
